<section data-ng-controller="HomeController">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

    	<br>

		<br>

        <div class="jumbotron text-center centerOfScreen col-sm-12">
		
		<div class="col-sm-4">
			<p class="lead" style="font-size:36px">
                            <div class="col-sm-offset-1"><a class="btn btn-success btn-lg btn-block" href="/#!/marchingbandapps/create">Marching Band</a></div>
			</p>
		</div>
            
                <div class="col-sm-4">
			<p class="lead" style="font-size:36px">
                            <div class="col-sm-offset-1"><a class="btn btn-warning btn-lg btn-block" href="/#!/concertbandapps/create">Concert Band</a></div>
			</p>
		</div>
            
                <div class="col-sm-4">
			<p class="lead" style="font-size:36px">
                            <div class="col-sm-offset-1"><a class="btn btn-danger btn-lg btn-block" href="/#!/concertbandapps/create">Bands Band</a></div>
			</p>
		</div>
                
                
	</div>
</section>