<section data-ng-controller="">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
        
        <style type="text/css">
            p.padding {
                padding-right: 6px;
                padding-left: 6px;
            }  
        </style>
    	<br>

		<br>

        <div class="jumbotron text-center centerOfScreen col-sm-12">
		<h1 class="lead">Apply Today!</h1>
                <div class="col-sm-8 col-sm-offset-2">
                    
                    <div id="column1" style="float:left; margin:0; width:20%;">
                        <p>Marching Band</p>
                        <p style="font-size:12px" class ="padding" align="left" >Marching band is cool Marching band is cool Marching band is cool Marching band is cool</p>
                    </div>

                    <div id="column2" style="float:left; margin:0;width:20%;">
                        <p>Wind Symphony</p>
                        <p style="font-size:12px" class ="padding" align="left"  >Wind symphony is cool Wind symphony is cool Wind symphony is cool Wind symphony is cool</p>
                    </div>

                    <div id="column3" style="float:left; margin:0;width:20%">
                        <p>Symphonic Band</p>
                        <p style="font-size:12px" class ="padding" align="left">Symphonic band is cool Symphonic band is cool Symphonic band is cool Symphonic band is cool</p>
                    </div>
                    
                    <div id="column2" style="float:left; margin:0;width:20%;">
                        <p>Jazz Band</p>
                        <p style="font-size:12px" class ="padding" align="left">Jazz band is cool Jazz band is cool Jazz band is cool Jazz band is cool</p>
                    </div>

                    <div id="column3" style="float:left; margin:0;width:20%">
                        <p>Pep Band</p>
                        <p style="font-size:12px" class ="padding" align="left">Pep band is cool Pep band is cool Pep band is cool Pep band is cool</p>
                    </div> 
		</div>     
                 <div class="col-sm-4 col-sm-offset-4">
                <p class="lead text-center" style="font-size:36px">
                    <div id = "marchingBandButton"><a class="btn btn-success btn-lg btn-block" href="/#!/bandapplications/create">Apply!</a></div>
                </p>
                </div>
	</div>
</section>
