<section data-ng-controller="">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

        <style type="text/css">
            p.padding {
                padding-right: 6px;
                padding-left: 6px;
            }
        </style>
    	
        <br><br>

        <div class="jumbotron text-center centerOfScreen col-sm-12">
		
                <h1 class="lead">Apply Today!</h1>
                
                <div class="col-sm-8 col-sm-offset-2">


                        <div id="column2" style="float:left; margin:0;width:20%;">
                        <p>Jazz Band</p>
                        </div>


                        <div id="column1" style="float:left; margin:0; width:20%;">
                        <p>Marching Band</p>
                        </div>


                        <div id="column3" style="float:left; margin:0;width:20%">
                        <p>Pep Band</p>                            
                        </div> 
                        

                        <div id="column3" style="float:left; margin:0;width:20%">
                        <p>Symphonic Band</p>
                        </div>

                        
                        <div id="column2" style="float:left; margin:0;width:20%;">
                        <p>Wind Symphony</p>
                        </div>

                        <p style="font-size:12px" class ="padding" align="center">Click below to join one of these bands!</p>

		</div> 
                
                 <div class="col-sm-4 col-sm-offset-4">
                <p class="lead text-center" style="font-size:36px">
                    <div id = "bandButton"><a class="btn btn-success btn-lg btn-block" href="/#!/bandapplications/create">Apply!</a></div>
                </p>
                </div>
	</div>
</section>
