<section data-ng-controller="HomeController">

        <!--paste this for every page that needs a menu-->
    	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

    	<br>

        <br>

        <div class="jumbotron">
            <h1>Hello, alumni!</h1>
            

            
            <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6JCLY0Rlx6Q" frameborder="0" allowfullscreen></iframe>
            </div>
            
            <br>
            
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
	
</section>