<section data-ng-controller="HomeAdmin">
    	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

        <div class="jumbotron">
            <h1 class="lead">Hello, Administrator!</h1>
                        
            <div class="col-md-4">
                    <p class="lead" style="font-size:36px">
                        <div ><a class="btn btn-success btn-lg btn-block" href="/#!/music">View Band Rosters</a></div>
                    </p>
            </div>
            
            <div class="col-md-4">
                    <p class="lead" style="font-size:36px">
                        <div ><a class="btn btn-warning btn-lg btn-block" href="/#!/bands">View Pending Repairs</a></div>
                    </p>
            </div>
            
            <div class="col-md-4">
                    <p class="lead" style="font-size:36px">
                        <div ><a class="btn btn-danger btn-lg btn-block" href="/#!/settings/profile">Add a new Administrator</a></div>
                    </p>
            </div>
        </div>	
</section>