<section data-ng-controller="HomeController">
<!--        
        <div class="jumbotron text-center centerOfScreen col-sm-12">
		<div class="row">
			<div class="col-md-4 col-sm-offset-4">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row ">
			<p class="lead">
				Test for the login screen
			</p>
		</div>
                <div class="center">
                    <div class="col-sm-6 col-sm-offset-3">
                        <a class="btn btn-primary btn-lg col-sm-6 btn-success " href="/#!/signin">Login</a>
                        <a class="btn btn-primary btn-lg col-sm-6 btn-info" href="/#!/signup">Sign-up</a>
                    </div>
                </div>
	</div>-->

        <!--paste this for every page that needs a menu-->
    	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

    	<br>

    	<div class="row">
			<div class="col-md-4 col-sm-offset-4">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/pics/instrument2.jpg" />
			</div>
		</div>

		<br>

        <div class="jumbotron text-center centerOfScreen col-sm-12">
		
		<div class="row ">
			<p class="lead">
				Test for Current Student Page
			</p>
		</div>
                
	</div>
	
</section>