<section data-ng-controller="HomeController">

<!--paste this for every page that needs a menu-->
    	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

        <div class="jumbotron" >
            <h1 class="lead">Welcome Back!</h1>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FrHpVICF264" frameborder="0" allowfullscreen></iframe>
            </div>
            
            
            <br>
            
            <div class="col-md-4">
			<p class="lead" style="font-size:36px">
                            <div ><a class="btn btn-success btn-lg btn-block" href="/#!/music">Music</a></div>
			</p>
		</div>
            
                <div class="col-md-4">
			<p class="lead" style="font-size:36px">
                            <div ><a class="btn btn-warning btn-lg btn-block" href="/#!/bands">Apply to a Band</a></div>
			</p>
		</div>
            
                <div class="col-md-4">
			<p class="lead" style="font-size:36px">
                            <div ><a class="btn btn-danger btn-lg btn-block" href="/#!/settings/profile">Profile</a></div>
			</p>
		</div>
            
            <br>
            <br>
            <br>
            <br>
        </div>


</section>