<section data-ng-controller="HomeController">



        <!--paste this for every page that needs a menu-->
    	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

    	<br>

		<br>

        <div class="jumbotron text-center centerOfScreen col-sm-12">
		
		<div class="row ">
			<p class="lead" style="font-size:36px">
				Welcome Back!
			</p>
		</div>
            
                
                <div class="col-sm-4 col-sm-offset-4"><a class="btn btn-success btn-lg btn-block" href="/#!/bands">Apply</a></div>
                
	</div>


</section>