<section data-ng-controller="HomeController">


        <!--paste this for every page that needs a menu-->
    	<header data-ng-include="'/modules/core/views/header.client.view.html'"  class="navbar navbar-fixed-top navbar-inverse"></header>

        <div class="jumbotron">
            <h1 class="lead">Join the Gator Band!</h1>



            <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FrHpVICF264" frameborder="0" allowfullscreen></iframe>
            </div>

            <br>

            <p class="lead">Like what you see?</p>
            <p><a id = "applyButton" class="btn btn-primary btn-lg btn-success" href="/#!/bands" role="button">Apply!</a></p>
        </div>


</section>
