<section data-ng-controller="InstrumentRepairsController">

        <!--paste this for every page that needs a menu-->
    	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
       
<div class="page-header">
        <h1>Instrument Repair Request</h1>
    </div> 
        
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" data-ng-submit="sendEmail()" novalidate>
            <fieldset>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                    </span>

                    <select name="mydropdown" data-ng-model="formdata.instrument" id="primary" class="form-control" placeholder="Instrument" required>
                            <option ng-repeat="instruments in instruments" value="{{instruments}}" placeholder="Instrument">{{instruments}}</option>
                    </select>
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-barcode" aria-hidden="true"></i>
                    </span>
                    
                    <input type="text" data-ng-model="formdata.ID" id="id" class="form-control" placeholder="Instrument ID" required>


                </div>
            
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    </span>
                    
                    <input type="text" data-ng-model="formdata.description" id="instrument" class="form-control" placeholder="Description of the Problem" required>


                </div>
                
                <br>
                
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-lg btn-info">
                </div>
				<div data-ng-show="error" class="text-center text-danger alert alert-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>

<!--    <div class="col-md-12">
        <button data-ng-click="sendEmail()">emailTestButton</button>
    </div>
	-->
</section>