<section data-ng-controller="InstrumentRepairsController">

        <!--paste this for every page that needs a menu-->
    	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

            
        <div class="page-header">
        <h1>Instrument Repair Request</h1>
    </div>
<!--    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="title">Problem</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="instrument">Instrument</label>
                    <div class="controls">
                        <input type="text" data-ng-model="instrument" id="instrument" class="form-control" placeholder="Instrument" required>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-center text-danger alert alert-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>-->
    <div class="col-md-12">
        <button data-ng-click="sendEmail()">emailTestButton</button>
    </div>
	
</section>