<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans|Francois+One|Rock+Salt|Orbitron|Muli">
<section data-ng-controller="">
        <style type="text/css">
            body {
                background-color:#000000;
                background-image: url("modules/core/img/pics/palm.jpg");
                background-repeat: no-repeat;
                background-position: center top;
                background-size: 100%;
            }
            p {
                font-family: 'Muli', sans-serif;
            }
        </style>
        		<div class="row text-center">

				<img alt="MEAN.JS" class="img" src="modules/core/img/brand/logo_white.png" width="200" height="50"/>
			</div>
        <div class="jumbotron text-center centerOfScreen col-sm-12">
		<div class="row ">
			<p class="lead">
                                <font color="white" size = "7">BANDZ A MAKE HER DANCE</font>
			</p>
                        <p class="lead">
                        				<font color="white">Lets get started!</font>
                        </p>
		</div> 
                <div class="center col-lg-12">
                    <div class="col-lg-6 col-lg-offset-3">
                        <a id = "login" class="btn btn-primary btn-lg col-lg-6  btn-success " href="/#!/signin">Login</a>
                        <a id = "signup" class="btn btn-primary btn-lg col-lg-6  btn-info " href="/#!/signup">Sign up</a>
                    </div>
                </div>
	</div>
	
</section>
