<section data-ng-controller="">
        
        <div class="jumbotron text-center centerOfScreen col-sm-12">
		<div class="row">
			<div class="col-md-4 col-sm-offset-4">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row ">
			<p class="lead">
				Lets get started!
			</p>
		</div>
                <div class="center">
                    <div class="col-sm-6 col-sm-offset-3">
                        <a id = "login" class="btn btn-primary btn-lg col-sm-6 btn-success " href="/#!/signin">Login</a>
                        <a id = "signup" class="btn btn-primary btn-lg col-sm-6 btn-info " href="/#!/signup">Sign up</a>
                    </div>
                </div>
	</div>
	
</section>
