<section class="row well" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center">Or with your info</h3>
        
	<div class="col-md-12">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
                            <div class="col-md-6">
				<div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-star" aria-hidden="true"></i>
                                        </span>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-star" aria-hidden="true"></i>
                                        </span>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-envelope" aria-hidden="true"></i>
                                        </span>
                                        <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
                            
                                <div class="input-group ">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-check" aria-hidden="true"></i>
                                        </span>
                                        
                                        <label for="buttonProspective">&nbsp Prospective &nbsp</label>
                                        <input type="radio" id="buttonProspective" name="userType" data-ng-model="user.userType" value="Prospective" ng-click="prospectiveUser()">
                                        <br>
                                        <label for="buttonCurrent">&nbsp Current &nbsp</label>
                                        <input type="radio" id="buttonCurrent" name="userType" data-ng-model="user.userType" value="Current" ng-click="currentUser()">
                                        <br>
                                        <label for="buttonAlumni">&nbsp Alumni &nbsp</label>
                                        <input type="radio" id="buttonAlumni" name="userType" data-ng-model="user.userType" value="Alumni" ng-click="alumniUser()">
				</div>

				<div class="input-group" >
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-user" aria-hidden="true"></i>
                                        </span>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
                                
                                <div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-asterisk" aria-hidden="true"></i>
                                        </span>
                                        <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
                            </div>
                            
                            <div class="col-md-6">
<!--                                instrument field not set-up-->
				<div class="input-group" > 
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                                        </span>
					<input type="text" id="instrument" name="instrument" class="form-control" data-ng-model="credentials.highSchool" placeholder="Instrument">
				</div>
				<div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-phone" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" data-ng-model="credentials.phoneNumber" placeholder="Phone Number">
				</div>
                                <div class="input-group" ng-show="prospectiveFlag"> 
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-apple" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" id="highSchool" name="highSchool" class="form-control" data-ng-model="credentials.highSchool" placeholder="High School">
				</div>
				<div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-home" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" id="permanentAddress" name="permanentAddress" class="form-control" data-ng-model="credentials.permanentAddress" placeholder="Permanent Address">
				</div>
				<div class="input-group" ng-show="currentFlag">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-globe" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" id="graduationDateCurrent" name="graduationDate" class="form-control" data-ng-model="credentials.graduationDate" placeholder="Graduation Date">
				</div>
                                <div class="input-group" ng-show="prospectiveFlag">
                                        <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-globe" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" id="graduationDateProspective" name="graduationDate" class="form-control" data-ng-model="credentials.graduationDate" placeholder="Graduation Date">
				</div>				                                
				
				<div data-ng-show="error" class="text-center text-danger alert alert-danger">
					<strong data-ng-bind="error"></strong>
				</div>
                            </div>
                            
                            
                            <div class="text-center form-group center col-md-12">
                                    <br>
                                    <button type="submit" class="btn btn-large btn-primary" id = "signup">Sign up</button>&nbsp; or&nbsp;
                                    <a href="/#!/signin" class="show-signup">Sign in</a>
                            </div>
			</fieldset>
		</form>

	</div>
</section>
