<section data-ng-controller="AuthenticationController">
        <style type="text/css">
            body {
                background-color:#000000;
                background-image: url("modules/core/img/pics/gator_band.jpg");
                background-repeat: no-repeat;
                background-position: center top;
                background-size: 100%;
            }
            h1 {
                font-family: 'Muli', sans-serif;

            }
        </style>

        <div class="row text-center">
            <img alt="UFBands" class="img" src="modules/core/img/brand/logo_white_blue.png" width="200" height="50"/>
	</div>

        <div class="well centerOfScreen">
                <div class="row">
        <!--			<div class="col-md-4 col-sm-offset-4">
                                        <img alt="UFBands" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
                                </div>-->
                        <h1 class="text-center"><font color="black">Sign Up</font></h1>
                </div>

                <div class="col-md-12">
                        <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
                                <fieldset>
                                    
                                    <div class="col-md-6">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-star text-warning" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-star text-warning" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-star-empty text-warning" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="nickName" name="nickName" class="form-control" data-ng-model="credentials.nickName" placeholder="Nickname">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-envelope text-info" aria-hidden="true"></i>
                                                </span>
                                                <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-envelope text-info" aria-hidden="true"></i>
                                                </span>
                                                <input type="email" id="gatorlink" name="gatorlink" class="form-control" data-ng-model="credentials.gatorlink" placeholder="Gatorlink (e.g. blah@ufl.edu)">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-plus text-success" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="ufid" name="ufid" class="form-control" data-ng-model="credentials.ufid" placeholder="UFID (e.g. 12345678)">
                                        </div>
                                        <div class="input-group ">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-check text-primary" aria-hidden="true"></i>
                                                </span>

                                                <label for="buttonProspective">&nbsp Prospective &nbsp</label>
                                                <input type="radio" id="buttonProspective" name="userType" data-ng-model="credentials.userType" value="Prospective" ng-click="prospectiveUser()">
                                                <br>
                                                <label for="buttonCurrent">&nbsp Current &nbsp</label>
                                                <input type="radio" id="buttonCurrent" name="userType" data-ng-model="credentials.userType" value="Current" ng-click="currentUser()">
                                                <br>
                                                <label for="buttonAlumni">&nbsp Alumni &nbsp</label>
                                                <input type="radio" id="buttonAlumni" name="userType" data-ng-model="credentials.userType" value="Alumni" ng-click="alumniUser()">
                                        </div>

                                        <div class="input-group" >
                                                <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-music" aria-hidden="true"></i>
                                                </span>
                                                <select name="mydropdown" data-ng-model="credentials.primary" id="primary" class="form-control" placeholder="primary" required>
                                                        <option ng-repeat="instruments in instruments" value="{{instruments}}" placeholder="Instrument">{{instruments}}</option>
                                                </select>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="text-muted glyphicon glyphicon-fire text-danger" aria-hidden="true"></i>
                                            </span>
                                                <input type="text" data-ng-model="credentials.primaryYears" id="primaryYears" class="form-control" placeholder="Years Experience" required>
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-phone text-primary" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" data-ng-model="credentials.phoneNumber" placeholder="Phone Number">
                                        </div>
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-apple text-danger" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="highSchool" name="highSchool" class="form-control" data-ng-model="credentials.highSchool" placeholder="High School and Grad Year">
                                        </div>


                                        <div class="input-group" >
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-user text-primary" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                                        </div>

                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></i>
                                                </span>
                                                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                                        </div>
                                    </div>

<!--                                    =======================================================-->
                                    
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-home text-success" aria-hidden="true"></i>
                                            </span>
                                                <input type="text" data-ng-model="credentials.permanentAddress.line1" id="permanentLine1" class="form-control" placeholder="Permanent Address line 1" required>
                                                <input type="text" data-ng-model="credentials.permanentAddress.line2" id="permanentLine2" class="form-control" placeholder="Permanent Address line 2" >
                                                <input type="text" data-ng-model="credentials.permanentAddress.city" id="permanentCity" class="form-control" placeholder="City" required>
                                                <input type="text" data-ng-model="credentials.permanentAddress.state" id="permanentState" class="form-control" placeholder="State" required>
                                                <input type="text" data-ng-model="credentials.permanentAddress.zip" id="permanentZip" class="form-control" placeholder="Zip code" required>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-tent text-warning" aria-hidden="true"></i>
                                            </span>
                                                <input type="text" data-ng-model="credentials.localAddress.line1" id="localLine1" class="form-control" placeholder="Local Address line 1" required>
                                                <input type="text" data-ng-model="credentials.localAddress.line2" id="localLine2" class="form-control" placeholder="Local Address line 2" >
                                                <input type="text" data-ng-model="credentials.localAddress.city" id="localCity" class="form-control" placeholder="City" required>
                                                <input type="text" data-ng-model="credentials.localAddress.state" id="localState" class="form-control" placeholder="State" required>
                                                <input type="text" data-ng-model="credentials.localAddress.zip" id="localZip" class="form-control" placeholder="Zip code" required>
                                        </div>

                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-chevron-up text-warning" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="major" name="major" class="form-control" data-ng-model="credentials.major" placeholder="Major">
                                        </div>
                                        
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-bell text-warning" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="class" name="class" class="form-control" data-ng-model="credentials.class" placeholder="Class (e.g. 1EG)">
                                        </div>
                                        
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-pawn " aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="year" name="year" class="form-control" data-ng-model="credentials.year" placeholder="Year (e.g. freshman)">
                                        </div>
                                        
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="text-muted glyphicon glyphicon-calendar text-primary" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" id="graduationDate" name="graduationDate" class="form-control" data-ng-model="credentials.graduationDate" placeholder="College Graduation Date">
                                        </div>
                                    </div>

                                    <div class="text-center form-group center col-md-12">
                                            <br>
                                            <div data-ng-show="error" class="text-center text-danger alert alert-danger">
                                                <strong data-ng-bind="error"></strong>
                                            </div>

                                            <button type="submit" class="btn btn-large btn-primary" id = "signup">Sign up</button>&nbsp; or&nbsp;
                                            <a href="/#!/signin" class="show-signup">Sign in</a>
                                    </div>

                                </fieldset>
                        </form>

                </div>
        </div>
</section>
