.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.centerOfScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
Original design: Basic Profile (fluid) (v2.0 - Sep 11, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-profile/
Icons from http://iconza.com/
*/
/*
*{margin:0; padding:0;}
/*body {background:#fff url(background.jpg) top center no-repeat; color:#303030; font:84% Arial,Helvetica,sans-serif; line-height:1.6em;}*/
a {color:#2a5a9a; text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:0;}
p,ul,ol,dl {margin:0 0 30px 0;}
h1 {color:#888; font-size:3em; line-height:1.1em; letter-spacing:-3px; margin:20px 0 0 0;}
h1 a {color:#2a5a9a; text-transform:none;}
h2 {font-size:2.2em; color:#333; margin:0 0 20px; letter-spacing:-1px; border-bottom:2px solid #eee; padding-left:40px;}
h3 {font-size:1.8em; clear:left; margin:10px 0 15px 0; letter-spacing:-1px; border-bottom:2px solid #eee; padding-left:40px;}
h1,h2,h3 {font-weight:700; line-height:1.4em;}
#wrap {color:#303030; margin:20px auto; padding:0 20px; width:96%; max-width:1560px;}
#header {margin:0 0 20px 0; padding:20px 0 30px 180px; background: #fff url(images/logotype.jpg) top left no-repeat;}
#menu {}
#menu ul {list-style:none; margin:0; line-height:1.3em; padding:10px 0 0 0;}
#menu li {width:200px; display:block; float:left; font-size:1em; margin:0 20px 10px 0; padding:0 0 10px 40px; color:#888;}
#menu li a {font-size:1.2em;}
#content {text-align:left; width:60%; padding-right:4%;}
#sidebar {float:right; width:30%; padding-left:4%; border-left:2px solid #ccc; }
#sidebar img {margin:0 0 30px 0;}
#sidebar ul {list-style:none; margin:0; line-height:1.3em; padding:10px 0 0 0; border-top:1px solid #eee;}
#sidebar li {list-style:none; font-size:1em; margin:0 0 10px; padding:0 0 10px 40px; color:#888; border-bottom:1px solid #eee;}
#sidebar li a {font-size:1.2em;}
#sidebar h2 {font-size: 1.4em; line-height:1.8em;}
.slogan {color:#888; font-size:1.4em; font-weight:700; margin:0 0 20px 0; letter-spacing:-1px;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.timestamp {display:block; font-weight:700; color:#888; text-align:right; width:150px; padding:20px 20px 20px 0; float:left; margin:0 20px 20px 0; border-right:2px solid #eee;}
.timestamp a {font-weight:normal;}
.credits {display:block; clear:left; font-size:0.9em; color:#aaa; margin:20px 0;}
.credits a {color:#888;}
.clear {clear:both; visibility:hidden; height:20px;}
.left {width:45%; float:left; padding-bottom:20px;}
.right { width:50%; float:right; padding-bottom:20px;}
.icon-home {background: #fff url(images/icons/house_32x32.png) top left no-repeat;}
.icon-bio {background: #fff url(images/icons/user_32x32.png) top left no-repeat;}
.icon-cv {background: #fff url(images/icons/document_32x32.png) top left no-repeat;}
.icon-contact {background: #fff url(images/icons/mail_32x32.png) top left no-repeat;}
.icon-blog {background: #fff url(images/icons/edit_32x32.png) top left no-repeat;}

.navbar-inverse {
  background-color: #fb7c37;
  border-color: #cc4305;
}
.navbar-inverse .navbar-brand {
  color: #fbfaff;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #fbad44;
}
.navbar-inverse .navbar-text {
  color: #fbfaff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fbfaff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fbad44;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fbad44;
  background-color: #cc4305;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fbad44;
  background-color: #cc4305;
}
.navbar-inverse .navbar-toggle {
  border-color: #cc4305;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #cc4305;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fbfaff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fbfaff;
}
.navbar-inverse .navbar-link {
  color: #fbfaff;
}
.navbar-inverse .navbar-link:hover {
  color: #fbad44;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfaff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbad44;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbad44;
    background-color: #cc4305;
  }
}