<section data-ng-controller="BandapplicationsController">
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <div class="page-header">
        <h1>New Band Application</h1>
    </div>

        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="col-md-12">
                <div class="col-md-6">
                    <div class="input-group" >
                        <h3>Check all that apply</h3>
                    </div>
                    <div class="input-group input-group-lg">
                        <label for="marchingBand"> &nbsp Marching Band &nbsp</label>
                        <input type="checkbox" id="marchingBand" name="marchingBand" data-ng-model="marchingBand" value="true" ng-Click="marchingBandToggle()">
                    </div>
                    <div class="input-group input-group-lg">
                        <label for="concertEnsembles">&nbsp Concert Ensembles &nbsp</label>
                        <input type="checkbox" id="concertEnsembles" name="concertEnsembles" data-ng-model="concertEnsembles" value="true" ng-Click = "concertEnsemblesToggle()">
                    </div>
                    <div class="input-group ">
                        <label for="jazzBand">&nbsp Jazz Band &nbsp</label>
                        <input type="checkbox" id="jazzBand" name="jazzBand" data-ng-model="jazzBand" value="true" ng-Click = "jazzBandToggle()">
                    </div>
                    <div class="input-group ">
                        <label for="volleyballPepBand">&nbsp Volleyball Pep Band &nbsp</label>
                        <input type="checkbox" id="volleyballPepBand" name="volleyballPepBand" data-ng-model="volleyballPepBand" value="true" ng-Click="volleyballPepBandToggle()">
                    </div>
                    <div class="input-group input-group-lg">
                        <label for="basketballPepBand">&nbsp Basketball Pep Band &nbsp</label>
                        <input type="checkbox" id="basketballPepBand" name="basketballPepBand" data-ng-model="basketballPepBand" value="true" ng-Click="basketballPepBandToggle()">
                    </div>

                    <div ng-show="marchingBandFlag || volleyballPepBandFlag || basketballPepBandFlag">
                        <h3>Personal Information</h3>
                        <!--Weight-->
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="text-muted glyphicon glyphicon-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" data-ng-model="weight" id="mbWeight" class="form-control" placeholder="Weight" >
                        </div>
                        <!--Shirt Size-->
                        <label class="control-label" for="size">Shirt Size</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-user" aria-hidden="true"></i>
                            </span>
                            <select name="mydropdown" data-ng-model="shirtSize" id="shirtSize" class="form-control" placeholder="shirtSize"  >
                                        <option ng-repeat="size in sizes" value="{{size}}">{{size}}</option>
                                </select>
                        </div>
                    </div>
                    
                    <div ng-show="marchingBandFlag || concertEnsemblesFlag">
                        <label class="control-label" for="secondary">School Status</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-book" aria-hidden="true"></i>
                            </span>


                            <select name="mydropdown" data-ng-model="status" id="status" class="form-control"  >
                                    <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div ng-show="marchingBandFlag">
                        <h3>Marching Band Specific Information</h3>
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        </br>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>
                            <select name="mydropdown" data-ng-model="MBSecondary" id="secondary" class="form-control" placeholder="secondary" >
                                        <option ng-repeat="instrument in marchingBandInstruments" value="{{instrument}}">{{instrument}}</option>
                            </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="MBSecondaryYearsExp" id="secondaryYearsMB" class="form-control" placeholder="Secondary Instrument Years Experience"  >
                        </div>
                        
                        <div class="input-group col-md-12">
                            <label class="control-label" for="drumline">&nbsp Drumline &nbsp</label>
                            <input type="checkbox" id="drumline" name="drumline" value="true" ng-Click="drumlineToggle()" data-ng-model="drumlineInterest">
                            </br>
                            <div ng-show="drumlineFlag" class="col-md-6">
                                <em>Please number from (1) most experience to (4) least experience.</em>
                            </div>
                            <div ng-show="drumlineFlag" class="col-md-2">
                                <span>Snare</span>
                                <input type="text" data-ng-model="r1" id="drumlineRank" class="form-control" >
                                <span>Tenors</span>
                                <input type="text" data-ng-model="r2" id="drumlineRank" class="form-control" >
                            </div>
                            <div ng-show="drumlineFlag" class = "col-md-2">
                                <span>Bass</span>
                                <input type="text" data-ng-model="r3" id="drumlineRank" class="form-control" >
                                <span>Cymbals</span>
                                <input type="text" data-ng-model="r4" id="drumlineRank" class="form-control" >
                            </div>
                        </div>
                        <div class="input-group col-md-12">
                            <label class="control-label" for="auxiliary">&nbsp Auxiliary &nbsp</label>
                            <input type="checkbox" id="auxiliary" name="auxiliary" value="true" ng-Click="auxiliaryToggle()">
                            </br>
                            <div ng-show="auxiliaryFlag" class="col-md-6">
                                <em>Please check applicable. All groups require prior experience and audition for admittance.</em>
                            </div>
                            <div ng-show="auxiliaryFlag" class="input-group input-group-lg">
                                <label for="gatorettes">&nbsp Gatorettes &nbsp</label>
                                <input type="checkbox" id="gatorettes" name="gatorettes" data-ng-model="gatorettes" value="true">
                            </div>
                            <div ng-show="auxiliaryFlag" class="input-group input-group-lg">
                                <label for="fve">&nbsp Florida Visual Ensemble &nbsp</label>
                                <input type="checkbox" id="fve" name="fve" data-ng-model="fve" value="true">
                            </div>
                        </div>
                    </div>

                    <div ng-show="concertEnsemblesFlag">
                        <h3>Concert Ensembles Specific Information</h3>
                        <!--Concert Ensemble Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>
                            <select name="mydropdown" data-ng-model="CESecondary" id="secondary" class="form-control" placeholder="secondary" >
                                    <option ng-repeat="instrument in concertEnsemblesInstruments" value="{{instrument}}">{{instrument}}</option>
                            </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="CESecondaryYearsExp" id="secondaryYearsCES" class="form-control" placeholder="Secondary Instrument Years Experience"  >
                        </div>
                    </div>
                    <div ng-show="jazzBandFlag">
                        <h3>Jazz Band Specific Information</h3>
                        <!--Concert Ensemble Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="JBSecondary" id="secondary" class="form-control" placeholder="secondary" >
                                        <option ng-repeat="instrument in jazzBandInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="JBSecondaryYearsExp" id="secondaryYearsJazz" class="form-control" placeholder="Secondary Instrument Years Experience" >
                        </div>
                    </div>

                    <div ng-show="volleyballPepBandFlag">
                        <h3>Volleyball Pep Band Specific Information</h3>
                        <!--Volleyball Pep Band Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="VBSecondary" id="secondary" class="form-control" placeholder="secondary" >
                                        <option ng-repeat="instrument in volleyballBandInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="VBSecondaryYearsExp" id="secondaryYearsVolleyball" class="form-control" placeholder="Secondary Instrument Years Experience"  >
                        </div>
                    </div>

                    <div ng-show="basketballPepBandFlag">
                        <h3>Basketball Pep Band Specific Information</h3>
                        <!--Basketball Pep Band Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="BBSecondary" id="secondary" class="form-control" placeholder="secondary"  >
                                        <option ng-repeat="instrument in basketballBandInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="BBSecondaryYearsExp" id="secondaryYearsBasketball" class="form-control" placeholder="Secondary Instrument Years Experience"  >
                        </div>
                    </div>
                </div>
                </div>
                    
                 
                <div class="text-center form-group center col-md-12 ">
                    <br><br>    
                    <input id = "submitButton" type="submit" class="text-center btn btn-lg btn-info" value = "Submit">
                </div>
                
                <div class="text-center form-group center col-md-12">
                    <div data-ng-show="success" class="text-center text-success alert alert-success">
                        <strong>Submission Successful</strong>
                    </div>
                    <div data-ng-show="error" class="text-center text-success alert alert-danger">
                        <strong>Submission NOT Successful</strong>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                    </div>
                </div>
                
            </fieldset>
        </form>
</section>
