<section data-ng-controller="BandapplicationsController">
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <div class="page-header">
        <h1>New Band Application</h1>
    </div>

    <div class="col-md-12">
        <p>Some information is taken from your user profile.</p>
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="col-md-6">
                    <div class="input-group" >
                        <h5 class="glyphicon glyphicon-check"><b> Check all that apply</b></h5>
                    </div>
                    <div class="input-group input-group-lg">
                        <label for="marchingBand"> &nbsp Marching Band &nbsp</label>
                        <input type="checkbox" id="marchingBand" name="marchingBand" data-ng-model="marchingBand" value="true" ng-Click="marchingBandToggle()">
                    </div>
                    <div class="input-group input-group-lg">
                        <label for="concertEnsembles">&nbsp Concert Ensembles &nbsp</label>
                        <input type="checkbox" id="concertEnsembles" name="concertEnsembles" data-ng-model="concertEnsembles" value="true" ng-Click = "concertEnsemblesToggle()">
                    </div>
                    <div class="input-group ">
                        <label for="jazzBand">&nbsp Jazz Band &nbsp</label>
                        <input type="checkbox" id="jazzBand" name="jazzBand" data-ng-model="jazzBand" value="true" ng-Click = "jazzBandToggle()">
                    </div>
                    <div class="input-group ">
                        <label for="volleyballPepBand">&nbsp Volleyball Pep Band &nbsp</label>
                        <input type="checkbox" id="volleyballPepBand" name="volleyballPepBand" data-ng-model="volleyballPepBand" value="true" ng-Click="volleyballPepBandToggle()">
                    </div>
                    <div class="input-group input-group-lg">
                        <label for="basketballPepBand">&nbsp Basketball Pep Band &nbsp</label>
                        <input type="checkbox" id="basketballPepBand" name="basketPepBand" data-ng-model="basketballPepBand" value="true" ng-Click="basketballPepBandToggle()">
                    </div>

                    <div ng-show="marchingBandFlag || volleyballPepBandFlag || basketballPepBandFlag">
                    <label>Personal Information</label>
                        <!--Weight-->
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="text-muted glyphicon glyphicon-user" aria-hidden="true"></i>
                                </span>
                                <input type="text" data-ng-model="weight" id="mbWeight" class="form-control" placeholder="Weight" >
                        </div>
                        <!--Shirt Size-->
                        <label class="control-label" for="size">Shirt Size</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-user" aria-hidden="true"></i>
                            </span>
                            <select name="mydropdown" data-ng-model="shirtSize" id="shirtSize" class="form-control" placeholder="shirtSize" required>
                                        <option ng-repeat="size in size" value="{{size}}">{{size}}</option>
                                </select>
                        </div>
                    </div>
                    <div ng-show="marchingBandFlag || concertEnsemblesFlag">
                        <label class="control-label" for="secondary">School Status</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-book" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="status" id="status" class="form-control" placeholder="status" required>
                                        <option ng-repeat="status in status" value="{{status}}">{{status}}</option>
                                </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div ng-show="marchingBandFlag">
                        <label class="control-label" for="weight">Marching Band Specific Information</label>
                        <!--Marching Band Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="MBSecondary" id="secondary" class="form-control" placeholder="secondary" required>
                                        <option ng-repeat="instrument in marchingBandInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="MBSecondaryYearsExp" id="secondaryYears" class="form-control" placeholder="Secondary Instrument Years Experience" required>
                        </div>
                        <!--TODO: Secondary Instrument Private Instruction
                            Figure out how to extract true/false data from checkbox and put
                            into model-->
                    </div>

                    <div ng-show="concertEnsemblesFlag">
                        <label class="control-label" for="weight">Concert Ensembles Specific Information</label>
                        <!--Concert Ensemble Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="CESecondary" id="secondary" class="form-control" placeholder="secondary" required>
                                        <option ng-repeat="instrument in concertEnsemblesInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="CESecondaryYearsExp" id="secondaryYears" class="form-control" placeholder="Secondary Instrument Years Experience" required>
                        </div>
                    </div>
                    <div ng-show="jazzBandFlag">
                        <label class="control-label" for="weight">Jazz Band Specific Information</label>
                        <!--Concert Ensemble Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="JBSecondary" id="secondary" class="form-control" placeholder="secondary" required>
                                        <option ng-repeat="instrument in concertEnsemblesInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="JBSecondaryYearsExp" id="secondaryYears" class="form-control" placeholder="Secondary Instrument Years Experience" required>
                        </div>
                    </div>

                    <div ng-show="volleyballPepBandFlag">
                        <label class="control-label" for="weight">Volleyball Pep Band Specific Information</label>
                        <!--Volleyball Pep Band Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="VBSecondary" id="secondary" class="form-control" placeholder="secondary" required>
                                        <option ng-repeat="instrument in pepBandInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="VBSecondaryYearsExp" id="secondaryYears" class="form-control" placeholder="Secondary Instrument Years Experience" required>
                        </div>
                    </div>

                    <div ng-show="basketballPepBandFlag">
                        <label class="control-label" for="weight">Basketball Pep Band Specific Information</label>
                        <!--Basketball Pep Band Secondary Instrument-->
                        <label class="control-label" for="secondary">Secondary Instrument</label>
                        <span><em>Choose only if different than primary instrument.</em></span>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-music" aria-hidden="true"></i>
                            </span>

                                <select name="mydropdown" data-ng-model="BBSecondary" id="secondary" class="form-control" placeholder="secondary" required>
                                        <option ng-repeat="instrument in pepBandInstruments" value="{{instrument}}">{{instrument}}</option>
                                </select>
                        </div>
                        <!--Secondary Instrument Years Experience-->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="text-muted glyphicon glyphicon-fire" aria-hidden="true"></i>
                            </span>
                                <input type="text" data-ng-model="BBSecondaryYearsExp" id="secondaryYears" class="form-control" placeholder="Secondary Instrument Years Experience" required>
                        </div>
                    </div>
                </div>

                <br><br><br>

                <div class="form-group text-center col-md-12">
                    <div class="col-md-6">
                        <input id = "submitButton" type="submit" class="btn btn-lg btn-info">
                    </div>
                    <div data-ng-show="error" class="text-danger">
			        <strong data-ng-bind="error"></strong>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</section>
