<section data-ng-controller="BandapplicationsController" data-ng-init="findOne()">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
        <div class="page-header">
		<h1 class="text-default" data-ng-bind="bandapplication.user.displayName"></h1>
	</div>
           
        <div class="progress">
            <div class="progress-bar progress-bar-primary progress-bar-striped" style="width: 33.3%">
              <span class="sr-only">35% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 33.3%">
              <span class="sr-only">20% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-primary progress-bar-striped" style="width: 33.3%">
              <span class="sr-only">10% Complete (danger)</span>
            </div>
        </div>
        
        <div class="col-md-12">                            
                    <div class="col-md-4">  
                        <label>Personal Information</label>
                        <ul class="list-group">                        
                            <li class="list-group-item"><span class="text-primary">Nick Name:</span> <span class="bold" data-ng-bind="bandapplication.user.nickName"></span></li>                          
                            <li class="list-group-item"><span class="text-primary">Email:</span> <span data-ng-bind="bandapplication.user.email"></span></li>
                            <li class="list-group-item"><span class="text-primary">Gatorlink:</span> <span data-ng-bind="bandapplication.user.gatorlink"></span></li>
                            <li class="list-group-item"><span class="text-primary">UFID:</span> <span data-ng-bind="bandapplication.user.ufid"></span></li>
                            <li class="list-group-item"><span class="text-primary">Student Status:</span> <span data-ng-bind="bandapplication.user.userType"></span></li>
                            <li class="list-group-item"><span class="text-primary">Primary Instrument:</span> <span data-ng-bind="bandapplication.user.primary"></span></li>
                            <li class="list-group-item"><span class="text-primary">Years on Primary:</span> <span data-ng-bind="bandapplication.user.primaryYears"></span></li>
                            <li class="list-group-item"><span class="text-primary">Phone Number:</span> <span data-ng-bind="bandapplication.user.phoneNumber"></span></li>
                            <li class="list-group-item"><span class="text-primary">High School</span> <span data-ng-bind="bandapplication.user.highSchool"></span></li>
                            <li class="list-group-item"><span class="text-primary">Weight</span> <span data-ng-bind="bandapplication.weight"></span></li>
                            <li class="list-group-item"><span class="text-primary">Shirt SIze</span> <span data-ng-bind="bandapplication.shirtSize"></span></li>
                      </ul>
                    </div>                    
                    <div class="col-md-4">  
                        <label>Permanent Address</label>
                        <ul class="list-group">                              
                            <li class="list-group-item"><span class="text-warning">Address Line 1:</span> <span class="bold" data-ng-bind="bandapplication.user.permanentAddress.line1"></span></li>                          
                            <li class="list-group-item"><span class="text-warning">Address Line 2:</span> <span data-ng-bind="bandapplication.user.permanentAddress.line2"></span></li>
                            <li class="list-group-item"><span class="text-warning">City:</span> <span data-ng-bind="bandapplication.user.permanentAddress.city"></span></li>
                            <li class="list-group-item"><span class="text-warning">State:</span> <span data-ng-bind="bandapplication.user.permanentAddress.state"></span></li>
                            <li class="list-group-item"><span class="text-warning">Zip:</span> <span data-ng-bind="bandapplication.user.permanentAddress.zip"></span></li>                            
                        </ul>
                        <label>Local Address</label>
                        <ul class="list-group"> 
                              <li class="list-group-item"><span class="text-warning">Address Line 1:</span> <span class="bold" data-ng-bind="bandapplication.user.localAddress.line1"></span></li>                          
                              <li class="list-group-item"><span class="text-warning">Address Line 2:</span> <span data-ng-bind="bandapplication.user.localAddress.line2"></span></li>
                              <li class="list-group-item"><span class="text-warning">City:</span> <span data-ng-bind="bandapplication.user.localAddress.city"></span></li>
                              <li class="list-group-item"><span class="text-warning">State:</span> <span data-ng-bind="bandapplication.user.localAddress.state"></span></li>
                              <li class="list-group-item"><span class="text-warning">Zip:</span> <span data-ng-bind="bandapplication.user.localAddress.zip"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-4">  
                        <label>College Information</label>
                        <ul class="list-group">                        
                            <li class="list-group-item"><span class="text-primary">School Status</span> <span class="bold" data-ng-bind="bandapplication.status"></span></li>                          
                            <li class="list-group-item"><span class="text-primary">Major:</span> <span class="bold" data-ng-bind="bandapplication.user.major"></span></li>                          
                            <li class="list-group-item"><span class="text-primary">Class:</span> <span data-ng-bind="bandapplication.user.class"></span></li>
                            <li class="list-group-item"><span class="text-primary">Year:</span> <span data-ng-bind="bandapplication.user.year"></span></li>
                            <li class="list-group-item"><span class="text-primary">Graduation Date:</span> <span data-ng-bind="bandapplication.user.graduationDate"></span></li>                            
                      </ul>
                    </div>
<!--                                    =======================================================-->
        </div>

        <hr>
        
        <div class="col-md-12">            
                    <div data-ng-show="bandapplication.marchingBand"  class="col-md-4">  
                        <label>Marching Band Specific Information</label>
                        <ul class="list-group">                        
                            <li class="list-group-item"><span class="text-primary">MB Secondary Instrument:</span> <span class="bold" data-ng-bind="bandapplication.MBSecondary"></span></li>                          
                            <li class="list-group-item"><span class="text-primary">Years Experience</span> <span data-ng-bind="bandapplication.MBSecondaryYearsExp"></span></li>
                            <li class="list-group-item"><span class="text-primary">Drumline Snares Rank:</span> <span data-ng-bind="bandapplication.r1"></span></li>
                            <li class="list-group-item"><span class="text-primary">Drumline Tenors Rank:</span> <span data-ng-bind="bandapplication.r2"></span></li>
                            <li class="list-group-item"><span class="text-primary">Drumline Bass Rank:</span> <span data-ng-bind="bandapplication.r3"></span></li>
                            <li class="list-group-item"><span class="text-primary">Drumline Cymbal Rank:</span> <span data-ng-bind="bandapplication.r4"></span></li>
                            <li class="list-group-item"><span class="text-primary">Gatorettes:</span> <span data-ng-bind="bandapplication.gatorettes"></span></li>
                            <li class="list-group-item"><span class="text-primary">Florida Virtual Ensemble:</span> <span data-ng-bind="bandapplication.fve"></span></li> 
                            
                            test<li class="list-group-item"><span class="text-primary">MemberOf.marching:</span> <span data-ng-bind="bandapplication.user.MemberOf"></span></li> 
                            
                      </ul>
                    </div>                    
                    <div class="col-md-4">  
                        <div data-ng-show="bandapplication.concertEnsembles" >
                            <label>Concert Ensembles Specific Information</label>
                            <ul class="list-group">                              
                                <li class="list-group-item"><span class="text-warning">CE Secondary Instrument:</span> <span class="bold" data-ng-bind="bandapplication.CESecondary"></span></li>                          
                                <li class="list-group-item"><span class="text-warning">Years Experience:</span> <span data-ng-bind="bandapplication.CESecondaryYearsExp"></span></li>                            
                            </ul>
                        </div>
                        <div data-ng-show="bandapplication.jazzBand" >
                            <label>Jazz Band Specific Information</label>
                            <ul class="list-group"> 
                                <li class="list-group-item"><span class="text-warning">JB Secondary Instrument:</span> <span class="bold" data-ng-bind="bandapplication.JBSecondary"></span></li>                          
                                <li class="list-group-item"><span class="text-warning">Years Experience:</span> <span data-ng-bind="bandapplication.JBSecondaryYearsExp"></span></li>                           
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">  
                        <div data-ng-show="bandapplication.volleyballPepBand">
                            <label>Volleyball Pep Band Specific Information</label>
                            <ul class="list-group">                        
                                <li class="list-group-item"><span class="text-warning">VPB Secondary Instrument:</span> <span class="bold" data-ng-bind="bandapplication.VBSecondary"></span></li>                          
                                <li class="list-group-item"><span class="text-warning">Years Experience:</span> <span data-ng-bind="bandapplication.VBSecondaryYearsExp"></span></li>                             
                            </ul>
                        </div>
                        <div data-ng-show="bandapplication.basketballPepBand"  >
                            <label>Basketball Pep Band Specific Information</label>
                            <ul class="list-group">                        
                                <li class="list-group-item"><span class="text-warning">BPB Secondary Instrument:</span> <span class="bold" data-ng-bind="bandapplication.BBSecondary"></span></li>                          
                                <li class="list-group-item"><span class="text-warning">Years Experience:</span> <span data-ng-bind="bandapplication.BBSecondaryYearsExp"></span></li>                             
                            </ul>
                        </div>
                    </div>
<!--                                    =======================================================-->
        </div>        

        <div class="pull-right">
<!--	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == bandapplication.user._id))">-->
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
                
                <br>
	</div>
        
        <div class="pull-left">
                                         
                <div class="col-md-12">
                    <label>Accept To: </label>
                    <div class="btn-group" role="group" aria-label="...">
                        <form data-ng-submit="acceptMarching(bandapplication)" >
                            <button type="submit" class="btn btn-success">Marching Band</button>
                        </form>
                        <button ng-click="" data-ng-show="bandapplication.concertEnsembles"type="button" class="btn btn-success">Concert Ensemble</button>
                        <button ng-click="" data-ng-show="bandapplication.jazzBand"type="button" class="btn btn-success">Jazz Band</button>
                        <button ng-click="" data-ng-show="bandapplication.volleyballPepBand"type="button" class="btn btn-success">Volleyball Pep Band</button>
                        <button ng-click="" data-ng-show="bandapplication.basketballPepBand"type="button" class="btn btn-success">Basketball Pep Band</button>
                      </div>
                </div>
            
            
        </div>
        
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="bandapplication.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="bandapplication.user.displayName"></span>
		</em>
	</small>
        
        <br><br><br>
</section>
