<section data-ng-controller="AdminController">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

		<h1>Manage Band Rosters</h1>

		<div class="bs-example" data-example-ids="select-form-control">
                    <form data-ng-click="findRoster()" >
                                <label class="control-label" for="instrument">Band</label>
                                <div class="controls">
                                    <select name="mydropdown" data-ng-model="drop.band" class="form-control" required>
                                                <option ng-repeat="band in band" value="{{band}}">{{band}}</option>
                                    </select>
                                </div>
			</form>
                    
        <h3>{{type}}</h3>
        <div class="col-sm-12">
        <div class="text-muted col-sm-8"><b>Name</b><b class="caret"></b></div>
        <div class="text-muted col-sm-4"><b>Instrument</b></div>
        </div>
    
    <div class="list-group col-sm-12">
<!--        for admin-->
        <a data-ng-repeat="user in users" class="list-group-item">
                <div class="col-sm-8 ">
                        <i class="text-muted glyphicon glyphicon-file text-danger" aria-hidden="true"></i>
                        <span class="list-group-item-heading" data-ng-bind="user.firstName + ' ' + user.lastName"></span> 
                </div>
                       
                <div class="col-sm-4">&nbsp&nbsp&nbsp<span class="list-group-item-heading" data-ng-bind="user.primary"></span></div>
                        
                <br>                			
        </a>         
    </div>         

	</div>
</section>
