<section data-ng-controller="MusicController" data-ng-init="find()">
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <div class="page-header">
        <h1>Music</h1>
    </div>
    
    
    <div class="col-lg-12">
        <form data-ng-keyup="findSearch()" novalidate>
            <div class="col-sm-3"><input type="text" data-ng-model="formdata.title" class="form-control" placeholder="Title" ></div>
            <div class="col-sm-3"><input type="text" data-ng-model="formdata.composer" class="form-control" placeholder="Composer" ></div>
            <div class="col-sm-3"><input type="text" data-ng-model="formdata.band" class="form-control" placeholder="Band" ></div>
            <div class="col-sm-3"><input type="text" data-ng-model="formdata.instrument" class="form-control" placeholder="Instrument" ></div>
        </form>
    </div>
    
    
    <div class="col-sm-12">
        <div class="text-muted col-sm-3"><b>Title</b><b class="caret"></b></div>
        <div class="text-muted col-sm-3"><b>Composer</b></div>
        <div class="text-muted col-sm-3"><b>Band</b></div>
        <div class="text-muted col-sm-3"><b>Instrument</b></div>
    </div>
    
    <div class="list-group col-sm-12">
<!--        for admin-->
        <a ng-show="{{viewShow}}" data-ng-repeat="music in music" data-ng-href="#!/music/{{music._id}}" class="list-group-item">
                <div class="col-sm-3 ">
                        <i class="text-muted glyphicon glyphicon-file text-danger" aria-hidden="true"></i>
                        <span class="list-group-item-heading" data-ng-bind="music.title"></span> 
                </div>
                       
                <div class="col-sm-3">&nbsp<span class="list-group-item-heading" data-ng-bind="music.composer"></span></div>
                <div class="col-sm-3">&nbsp<span class="list-group-item-heading" data-ng-bind="music.band"></span></div>
                <div class="col-sm-3">&nbsp&nbsp&nbsp<span class="list-group-item-heading" data-ng-bind="music.instrument"></span></div>
                        
                <br>                			
        </a>
        
<!--        for normal user-->
        <a ng-hide="{{viewShow}}" data-ng-repeat="music in music" href="{{music.path}}" target="_blank" class="list-group-item">

            <!--		<h4 class="list-group-item-heading"> 
                        <span data-ng-bind="music.title"></span> 
                        <span data-ng-bind="music.composer"></span>
                        <span data-ng-bind="music.instrument"></span>
                </h4>-->
                        
                <div class="col-sm-3 ">
                        <i class="text-muted glyphicon glyphicon-file text-danger" aria-hidden="true"></i>
                        <span class="list-group-item-heading" data-ng-bind="music.title"></span> 
                </div>
                       
                <div class="col-sm-3">&nbsp<span class="list-group-item-heading" data-ng-bind="music.composer"></span></div>
                 <div class="col-sm-3">&nbsp<span class="list-group-item-heading" data-ng-bind="music.band"></span></div>
                <div class="col-sm-3">&nbsp&nbsp&nbsp<span class="list-group-item-heading" data-ng-bind="music.instrument"></span></div>
                        
                <br>                			
        </a>
            <div class="alert alert-warning text-center" data-ng-hide="!music.$resolved || music.length">
            Music not found.
    </div>
 
</section>