<section data-ng-controller="ConcertbandappsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Concertbandapps</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="concertbandapp in concertbandapps" data-ng-href="#!/concertbandapps/{{concertbandapp._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="concertbandapp.created | date:'medium'"></span>
				by
				<span data-ng-bind="concertbandapp.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="concertbandapp.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!concertbandapps.$resolved || concertbandapps.length">
    	No Concertbandapps yet, why don't you <a href="/#!/concertbandapps/create">create one</a>?
    </div>
</section>